.profile__button-edit {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile/Vector.svg);
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
  align-self: end;
  margin: 0 0 9px;
}

@media screen and (max-width: 500px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}