.popup__input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  padding: 0 0 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 30px;
}

.popup__input:last-of-type {
  margin: 0 0 48px;
}

@media screen and (max-width: 500px) {
  .popup__input:last-of-type {
    margin: 0 0 45px;
  }
}
