.cards__btn-like {
  width: 21px;
  height: 19px;
  padding: 0;
  margin: 0 0 3px 0;
  background-color: #fff;
  background-image: url(../../../images/btn/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transition: opacity .3s ease-in;
}

.cards__btn-like:hover {
  opacity: 0.5;
}