.footer {
  box-sizing: border-box;
  padding: 0 0 56px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 0 0 36px 0;
  }
}