.footer {
  box-sizing: border-box;
  padding-bottom: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (max-width: 500px) {
  .footer {
    padding-bottom: 36px;
  }
}