.popup__btn-save {
  width: 100%;
  padding: 14px 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 500px) {
  .popup__btn-save {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0 15px;
  }
}