.header {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 966px) {
  .header {
    padding: 45px 0 41px calc((966px - 100vw)/2);
  }
}

@media screen and (max-width: 880px) {
  .header {
    padding: 45px 0 41px 43px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: calc(45px - 17*(768px - 100vw)/448) 0 calc(41px - 9*(768px - 100vw)/448) calc(43px - 16*(768px - 100vw)/448);
  }
}