.btn_style_close {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/btn/plus.svg);
  background-size: contain;
  padding: 0;
  border: none;
  transform: rotate(-45deg);
}